* {
    margin: 0;
}

main, footer, div {
    margin: 20px 5px;
}
#intestazione {
    background-color: cornflowerblue;
    width: 100%;
    height: 120px;
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

#logo  {
    height: 45%;
    margin-top: 3%;
}

#titolo {
    font-size: 72px;
}

#footer1 {
    background-image: url(../img/monitor.jpg);
    width: 310px;
    height: 200px;
}

#footer2 {
    background-image: url(../img/graph.jpg);
    width: 310px;
    height: 200px;
}