
#intestazione {
    background-color: cornflowerblue;
    width: 100%;
    height: 120px;
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

#logo  {
    height: 45%;
    margin-top: 3%;
}
