* {
    margin: 0;
}

main, footer {
    margin: 20px 5px;
}
#intestazione {
    background-color: cornflowerblue;
    width: 100%;
    height: 120px;
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

#logo  {
    height: 45%;
    margin-top: 3%;
}

#titolo {
    font-size: 50px;
}

address {
    font-style: normal;
    color: darkgrey;
    font-weight: 500;
}

#the-booleaner {
    color: #00fffb;
}

figcaption {
    font-size: 0.8rem;
}

section {
    margin: 20px 0;
}

.evidenzia {
    background-color: #ff0
}

thead {
    background-color: cornflowerblue;
}

.cell33 {
    width: 25%;
}

.cell66 {
    background-color: cornflowerblue;
    width: 50%;
}

#monitor {
    background-image: url(../img/monitor.jpg);
    width: 310px;
    height: 200px;
    margin: 20px 5px;
}

#graph {
    background-image: url(../img/graph.jpg);
    width: 310px;
    height: 200px;
    margin: 20px 5px;
}

h2 {
    color: #fff;
    padding: 10px;
}